{% if template == 'oefenen.liquid' %}
  {{ 'styles.css' | asset_url | stylesheet_tag }}
{% endif %}

<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>

<p>Het is vandaag {{ 'now' | date: "%d-%m-%Y" }}</p>

<p> {{ person.birthdate | date: "%d-%m-%Y" }} </p>

<p>{{ person.custom.lievelingsdier  }}</p>

<details><summary>Data</summary><pre>{{ person | json:4 | }}</pre></details>


    <img src="assets/akikooo.png" class="akiko">
